@import "tailwindcss";

@keyframes fall-image {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(140vh);
    opacity: 1;
  }
}

.animate-fall-image {
  animation-name: fall-image;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  position: absolute;
}




@layer utilities {
  .shadow-text {
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.25);
  }
}

:root {
  --background: #ffffff;
  --foreground: #2c2e35;
}

body {
  color: var(--foreground);
}
